// Base settings
$base-font-size: 1rem;

// Font families
$font-primary: "Raleway", sans-serif;
$font-secondary: sans-serif;

// Breakpoints
$widths: (
	sm: 20em,
	md: 36em,
	lg: 52em,
	xl: 68em
);

// Spacing
$space: $base-font-size * 1.5;
$space-xs: $space / 3;
$space-sm: $space / 2;
$space-md: $space * 1.5;
$space-lg: $space * 2;
$space-xl: $space * 3;

// Grid
$grid-columns: 8;
$grid-font-size: 1rem;
$grid-space: 1rem;

// Primary colors
$color-primary: #374C68;
$color-primary-lighter: #b3d8d1;
$color-primary-light: #68b0a2;
$color-primary-dark: #135b4d;
$color-primary-daker: #092e27;

// Secondary colors
$color-secondary: #f80a2f;
$color-secondary-lighter: #edb9bf;
$color-secondary-light: #dc7280;
$color-secondary-dark: #871d2b;
$color-secondary-daker: #430f15;


// Neutral colors
$color-neutral-lighter: #e9e9e9;
$color-neutral-light: #ccc;
$color-neutral: #F6F9FC;
$color-neutral-dark: #C0C8CF;
$color-neutral-darker: #222;
$color-white: #fff;
$color-black: #111;

// Message colors
$color-message-info: #00a8f7;
$color-message-success: #47b04a;
$color-message-warning: #f5a800;
$color-message-error: #f6412d;
