$space: 1.4rem;

// neutral
$color-neutral-lighter: #5a5f64;
$color-neutral-light: #393f45;
$color-neutral: #1a2124;
$color-neutral-dark: #161c1f;
$color-neutral-darker: #12171a;

// primary
$color-primary-lighter: #57bbab;
$color-primary-light: #2daa96;
$color-primary: #009b82;
$color-primary-dark: #00816c;
$color-primary-darker: #006756;
