$space: 1.4rem;

// neutral
$color-neutral-lighter: #8fa7b1;
$color-neutral-light: #577b8a;
$color-neutral: #1d5061;
$color-neutral-dark: #163c49;
$color-neutral-darker: #0f2831;

// primary
$color-primary-lighter: #bde3dd;
$color-primary-light: #7bc7bb;
$color-primary: #39aa98;
$color-primary-dark: #267165;
$color-primary-darker: #133832;
