.App {
	display: grid;
	grid-template-columns: auto 280px;
	grid-template-areas: 'column-1 column-2';
	height: 100vh;
}

.App .App-main {
	grid-area: column-1;
}

.App .App-menu {
	background-color: #2b2e31;
	color: #fff;
	border-left: 1px solid #212426;
	grid-area: column-2;
	z-index: 2;
}
