@import 'config';

.ColorGroup {
	display: flex;
	flex-direction: row;
	position: relative;

	&:hover {
		.Color-reset,
		.Color-range,
		.Color label span {
			opacity: 1;
		}
	}
}

.ColorGroup-footer {
	text-align: center;
	padding: $space-sm 0;
}

.ColorGroup-button {
	border: none;
	background: none;
	padding: $space-sm $space;
	cursor: pointer;
	outline: none;
	
	svg {
		width: 20px;
		height: 20px;

		path {
			transition: fill .2s;
		}
	}

	&:hover path {
		fill: $color-primary;
	}
}
