@import 'config';

.Menu {
	.Menu-item {
		display: flex;
		flex-flow: row wrap;
		padding: 0.3rem 0.5rem;
		font-size: 0.9rem;
		align-items: center;

		.Menu-title {
			flex: 1;
			padding: 0.5rem;
		}

		.Button {
			border: none;
			background-color: transparent;
			outline: none;
			color: inherit;
			cursor: pointer;
			padding: 0;
			border-radius: 2em;
			transition: background-color 0.2s;
			padding: 7px;
			display: flex;

			svg {
				margin: auto;
			}

			&:hover {
				background-color: $color-primary;
			}
		}
	}
}

.Menu--level1 > .Menu-item > .Menu-title {
	text-transform: uppercase;
	opacity: 0.4;
	font-weight: bold;
}

.Menu--level2 {
	padding-left: 1rem;

	> .Menu-item > .Menu-title {
		text-transform: capitalize;
	}

	.Menu-item {
		border-top: 1px solid $color-neutral-light;
		padding-left: 0;
	}
}
