@import 'config';

.Menu {
	.Menu-item {
		font-size: 0.9rem;
		align-items: center;
		border-top: 1px solid $color-neutral-light;

		.Menu-title {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			padding: 0.5rem;

			b {
				font-size: 0.9em;
				flex: 1;
			}
		}

		.Button {
			border: none;
			background-color: transparent;
			outline: none;
			color: inherit;
			cursor: pointer;
			padding: 0;
			border-radius: 2em;
			transition: background-color 0.2s;
			padding: 7px;
			display: flex;

			svg {
				margin: auto;
			}

			&:hover {
				background-color: $color-primary;
			}
		}
	}
}

.Menu--level1 {
	> .Menu-item:first-of-type {
		border-top: none;
	}

	> .Menu-item > .Menu-title {
		b {
			text-transform: uppercase;
			opacity: 0.4;
		}
	}
}

.Menu--level2 {
	padding-left: 1rem;

	> .Menu-item > .Menu-title {
		text-transform: capitalize;
	}

	.Menu-item {
		border-top: 1px solid $color-neutral-light;
		padding-left: 0;
	}
}

@media screen and (max-width: $breakpoint) {
	.Menu-item--export {
		// display: none;
	}
}
